


<h3 class="mb-4">Issue type</h3>

<div class="filter-buttons d-flex justify-content-end">
  <button class="filter-btn create" data-toggle="tooltip" data-placement="top" title="Create" (click)="togglePopup()" ><i class='bx bx-plus'></i></button>
  <button class="filter-btn create" data-toggle="tooltip" data-placement="top" title="Create" routerLink="/company/add-issuetype" ><i class='bx bx-minus'></i></button>
</div>

<div class="filter-section">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
            <!-- <select  class="form-select" [(ngModel)]="filterStatus" (change)="onChangeSelection($event)">
                <option value="" disabled>Choose Selection</option>
                <option  *ngFor="let selection of selection" [value]="selection.id_t4_selection">{{selection.issue_name}}</option>
            </select> -->
          </div>
        <div class="col-md-4">
          <!-- <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchTerm"
            (input)="applyFilters()"
          /> -->
        </div>
      </div>
    </div>

  </div>
  <div class="table-responsive" style="padding: 1px;">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th class="text-end">Action</th>
        </tr>
      </thead>
      <tbody>
  
        <tr *ngIf="isLoading">
          <td colspan="3" class="position-relative p-0" style="height: 150px;">
            <div class="d-flex flex-column justify-content-center align-items-center position-absolute top-50 start-50 translate-middle w-100">
              <div class="loader mb-2"></div>
              <span>Loading...</span>
            </div>
          </td>
        </tr>
  
        <ng-container *ngIf="!isLoading">
          <tr *ngFor="let type of paginatedOrders; let i = index">
            <td >{{type.issue_name}}</td>
            <td class="actions text-end">
              <button class="action-btn info"><i class='bx bxs-edit p-1' (click)="updatePopup(type)"></i></button>
              <button class="action-btn danger"><i class='bx bx-trash p-1' (click)="deleteFn(type.issue_type_id)"></i></button>
            </td>
          </tr>
        </ng-container>
  
        <tr *ngIf="!isLoading && paginatedOrders.length === 0">
          <td colspan="3" class="text-center">No data available.</td>
        </tr>
  
      </tbody>
    </table>
  
    <!-- Pagination -->
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1"><i class='bx bx-chevron-left'></i></button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages"><i class='bx bx-chevron-right'></i></button>
    </div>
  </div>
</div>



<!---------------------------  Popup--------------------------------------->
<div class="popup" *ngIf="isPopupVisible">
    <div class="popup-content">

        <div class="d-flex justify-content-between mb-3">
            <h3>Add Issue Type</h3>
            <i class="ti ti-x" (click)="onClose()"></i>
        </div>
            <!-- Changing Part -->
            <form class="row g-3" [formGroup]="issueTypeForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12">
                <label for="country" class="form-label">Name</label>
                <input type="text" class="form-control" id="issue_name" name="issue_name" formControlName="issue_name">
                <div *ngIf="issueTypeForm.controls['issue_name'].touched && issueTypeForm.controls['issue_name'].invalid" class="text-danger">
                <small *ngIf="issueTypeForm.controls['issue_name'].errors?.['required']">Issue name is required</small>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="primary-btn">Submit</button>
            </div>
            </form>
    </div>
</div>
<!-- Edit  pop -->
<div class="popup" *ngIf="isEditVisible">
    <div class="popup-content">

        <div class="d-flex justify-content-between mb-3">
            <h3>Edit Issue Type</h3>
            <i class="ti ti-x" (click)="onClose()"></i>
        </div>
            <!-- Changing Part -->
            <form class="row g-3" [formGroup]="issueTypeEditForm" (ngSubmit)="onSubmitEditIssuetype()">
            <div class="col-md-12">
                <label for="country" class="form-label">Selection</label>
                <input type="text" class="form-control" id="issue_name" name="issue_name" formControlName="issue_name">
                <div *ngIf="issueTypeForm.controls['issue_name'].touched && issueTypeForm.controls['issue_name'].invalid" class="text-danger">
                <small *ngIf="issueTypeForm.controls['issue_name'].errors?.['required']">Issue name is required</small>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="primary-btn">Submit</button>
            </div>
            </form>
    </div>
</div>

