<section class="hero" id="home">
 
    <div class="row w-100">
      <div class="col-md-6 col-sm-12">
          <div class="hero-content">
            <div class="wrapper d-flex flex-column justify-content-between">
              <div>
                <h1 class="title mb-0 ">Voice First</h1>
                <p class="sub-head">The Issue <span class="yellow-text">Tracker</span> </p>
                <div class="slogan-container">
                  <p class="mb-0">Smart, Real-Time Issue Reporting & Resolution</p>
                  <p class="mb-0">A Product by Notetech Software</p>
                </div>
              </div>

              <!-- <h2 class="fw-bold mt-2 mb-5">Identify, Track, Resolve !</h2> -->
            </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="hero-banner"></div>
      </div>
    </div>
</section>
