<div class="popup">
    <div class="popup-content">


            <!-- Changing Part -->
             <div class="d-flex justify-content-between mb-3">
              <h2>Branch</h2>
              <i class="ti ti-x" (click)="onClose()"></i>
             </div>
           
          
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputBranchName" class="form-label">Branch Name</label>
                    <input type="text" class="form-control" id="inputBranchName" placeholder="Enter Company Name" />
                  </div>
                  <div class="col-md-6">
                    <label for="selectBranchType" class="form-label">Branch Type</label>
                    <select class="form-select" id="selectBranchType">
                      <option value="" disabled selected>Select Branch Type</option>
                      <option value="retail">Retail</option>
                      <option value="corporate">Corporate</option>
                      <option value="franchise">Franchise</option>
                      <option value="other">Other</option>
                    </select>
                    <!-- <input type="text" class="form-control" id="exampleInputBranchType" placeholder="Enter Company Type" /> -->
                  </div>
                  <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" formControlName="email">
                    <!-- <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="text-danger">
                      <small *ngIf="form.controls['email'].errors?.['required']">Email is required.</small>
                      <small *ngIf="form.controls['email'].errors?.['invalidEmail']">Invalid email format.</small>
                    </div> -->
                  </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" formControlName="address">
                <!-- <div *ngIf="form.controls['address'].touched && form.controls['address'].invalid" class="text-danger">
                  <small>Address is required.</small>
                </div> -->
              </div>
            
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" formControlName="address2">
              </div>
            
              <div class="col-md-6">
                <label for="inputCity" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="inputCity" formControlName="city">
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="inputCity" formControlName="city">
              </div>
              <div class="col-md-6">
                <label for="selectBranchType" class="form-label">Country</label>
                <select class="form-select" id="selectBranchType">
                  <option value="" disabled selected>Select Branch Type</option>
                  <option value="retail">Retail</option>
                  <option value="corporate">Corporate</option>
                  <option value="franchise">Franchise</option>
                  <option value="other">Other</option>
                </select>
                <!-- <input type="text" class="form-control" id="exampleInputBranchType" placeholder="Enter Company Type" /> -->
              </div>                  <div class="col-md-6">
                <label for="selectBranchType" class="form-label">Division 1</label>
                <select class="form-select" id="selectBranchType">
                  <option value="" disabled selected>Select Branch Type</option>
                  <option value="retail">Retail</option>
                  <option value="corporate">Corporate</option>
                  <option value="franchise">Franchise</option>
                  <option value="other">Other</option>
                </select>
                <!-- <input type="text" class="form-control" id="exampleInputBranchType" placeholder="Enter Company Type" /> -->
              </div>                  <div class="col-md-6">
                <label for="selectBranchType" class="form-label">Division 2</label>
                <select class="form-select" id="selectBranchType">
                  <option value="" disabled selected>Select Branch Type</option>
                  <option value="retail">Retail</option>
                  <option value="corporate">Corporate</option>
                  <option value="franchise">Franchise</option>
                  <option value="other">Other</option>
                </select>
                <!-- <input type="text" class="form-control" id="exampleInputBranchType" placeholder="Enter Company Type" /> -->
              </div>                  <div class="col-md-6">
                <label for="selectBranchType" class="form-label">Division 3</label>
                <select class="form-select" id="selectBranchType">
                  <option value="" disabled selected>Select Branch Type</option>
                  <option value="retail">Retail</option>
                  <option value="corporate">Corporate</option>
                  <option value="franchise">Franchise</option>
                  <option value="other">Other</option>
                </select>
                <!-- <input type="text" class="form-control" id="exampleInputBranchType" placeholder="Enter Company Type" /> -->
              </div>
              <div class="col-md-6">
                <label for="inputBranchName" class="form-label">Zip Code</label>
                <input type="text" class="form-control" id="inputBranchName" placeholder="Enter Company Name" />
              </div>

            
              <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="primary-btn">Submit</button>
              </div>
            </form>
            <!-- ------------- -->

    </div>
  </div>