<div class="popup" >
    <div class="popup-content">

          <div class="d-flex justify-content-between mb-3">
            <h2>Country</h2>
            <i class="ti ti-x" (click)="onClose()"></i>
          </div>
            <!-- Changing Part -->
            <form class="row g-3" [formGroup]="locationForm" (ngSubmit)="onSubmit()">
              <div class="col-md-12">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="t2_1_country_name" name="t2_1_country_name" formControlName="t2_1_country_name">
                <div *ngIf="locationForm.controls['t2_1_country_name'].touched && locationForm.controls['t2_1_country_name'].invalid" class="text-danger">
                  <small *ngIf="locationForm.controls['t2_1_country_name'].errors?.['required']">Division One is required.</small>
                </div>
              </div>
              <div class="col-md-12">
                <label for="div1" class="form-label">Division 1</label>
                <input type="text" class="form-control" id="t2_1_div1_called" name="t2_1_div1_called" formControlName="t2_1_div1_called">
              </div>
            
              <div class="col-12">
                <label for="div2" class="form-label">Division 2</label>
                <input type="text" class="form-control" id="t2_1_div2_called" name="t2_1_div2_called" formControlName="t2_1_div2_called">
              </div>
            
              <div class="col-12">
                <label for="div3" class="form-label">Division 3</label>
                <input type="text" class="form-control" id="t2_1_div3_called" name="t2_1_div3_called" formControlName="t2_1_div3_called">
              </div>
            
              <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="primary-btn">Submit</button>
              </div>
            </form>
            <!-- ------------- -->

    </div>
  </div>
 