<div class="popup">
  <div class="popup-content">
    <!-- Changing Part -->
    <div class="d-flex justify-content-between mb-3">
      <h4>Add Company</h4>
      <i class="ti ti-x" (click)="onClose()"></i>
    </div>

    <div class="container header-container">
      <!-- <H2>Stepper</H2> -->

      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
          <div class="step" data-target="#test-l-1">
            <button
              class="step-trigger"
              [ngClass]="{
                'valid-step': formcompanyadd.valid,
                'active-step': isCurrentStep(1)
              }"
              [disabled]="true"
            >
              <span class="bs-stepper-circle">1</span>
              <span class="bs-stepper-label">Company Details</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-2">
            <button
              class="step-trigger"
              [ngClass]="{
                'valid-step': formbranchadd.valid,
                'active-step': isCurrentStep(2)
              }"
              [disabled]="true"
            >
              <span class="bs-stepper-circle">2</span>
              <span class="bs-stepper-label">Branch Details</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-3">
            <button
              class="step-trigger"
              [ngClass]="{
                'valid-step': formuseradd.valid,
                'active-step': isCurrentStep(3)
              }"
              [disabled]="true"
            >
              <span class="bs-stepper-circle">3</span>
              <span class="bs-stepper-label">User Details</span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <div id="test-l-1" class="content">
            <form [formGroup]="formcompanyadd" class="row">
              <div class="form-group">
                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="inputCompanyName" class="form-label"
                        >Company Name <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputCompanyName"
                        placeholder="Enter Company Name"
                        formControlName="t1_company_name"
                      />
                      <div
                        *ngIf="
                          formcompanyadd.controls['t1_company_name'].touched
                        "
                        class="text-danger mb-0"
                      >
                        <small
                          *ngIf="formcompanyadd.controls['t1_company_name'].errors?.['required']"
                          >Company name is required.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="selectCompanyType" class="form-label">
                        Company Type <span class="text-danger">*</span>
                      </label>
                      <select
                        class="form-select"
                        id="selectCompanyType"
                        formControlName="id_company_type"
                        (change)="onCompanyTypeChange($event)"
                      >
                        <option value="" disabled selected>
                          Select company type
                        </option>
                        <option
                          *ngFor="let type of companyType"
                          [value]="type.id_t4_1_selection_values"
                        >
                          {{ type.t4_1_selection_values_name }}
                        </option>
                        <option value="other">Other</option>
                      </select>

                      <!-- Validation message -->
                      <div
                        *ngIf="
                          formcompanyadd.controls['id_company_type'].touched
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="formcompanyadd.controls['id_company_type'].errors?.['required']"
                          >Company type is required.</small
                        >
                      </div>

                      <!-- Show text input if 'Other' is selected -->
                      <div
                        *ngIf="showOtherCompanyType"
                        class="mt-2"
                        style="padding-top: 25px"
                      >
                        <label for="companyType" class="form-label">
                          Specify Company Type
                          <span class="text-danger">*</span>
                        </label>
                        <input
                          type="text"
                          id="companyType"
                          class="form-control"
                          formControlName="company_type"
                          placeholder="Enter company type"
                        />
                        <div
                          *ngIf="
                            formcompanyadd.controls['company_type'].touched
                          "
                          class="text-danger"
                        >
                          <small
                            *ngIf="formcompanyadd.controls['company_type'].errors?.['required']"
                            >Please specify the company type.</small
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-end">
                <button
                  type="button"
                  (click)="nexttobranch()"
                  class="primary-btn"
                >
                  Next
                </button>
              </div>
            </form>
          </div>
          <div id="test-l-2" class="content">
            <form [formGroup]="formbranchadd" class="row g-3">
              <div class="form-group">
                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <label for="inputBranchName" class="form-label"
                        >Branch Name <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputBranchName"
                        placeholder="Enter Branch Name"
                        formControlName="t2_company_branch_name"
                      />
                      <div
                        *ngIf="
                          formbranchadd.controls['t2_company_branch_name']
                            .touched
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['t2_company_branch_name'].errors?.['required']"
                          >Branch name is required.</small
                        >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="selectBranchType" class="form-label"> </label>

                      <!-- Disabled input box with default value 'Main Branch' -->
                      <input
                        type="text"
                        class="form-control"
                        id="selectBranchType"
                        value="Main Branch"
                        disabled
                      />

                      <!-- Validation message (optional if needed) -->
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="inputBranchEmail" class="form-label"
                        >Email address <span class="text-danger">*</span></label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="inputBranchEmail"
                        placeholder="Enter Branch Email"
                        formControlName="t2_email"
                      />
                      <div
                        *ngIf="
                          formbranchadd.controls['t2_email']?.touched &&
                          formbranchadd.controls['t2_email'].invalid
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['t2_email'].errors?.['required']"
                          >Email is required.</small
                        >
                        <small
                          *ngIf="!formbranchadd.controls['t2_email'].errors?.['required'] && formbranchadd.controls['t2_email'].errors?.['invalidEmail']"
                          >Invalid email format.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <label for="inputBranchMobile" class="form-label"
                        >Mobile <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputBranchMobile"
                        placeholder="Enter Branch Mobile no."
                        formControlName="t2_mobile_no"
                      />
                      <div
                        *ngIf="
                          formbranchadd.controls['t2_mobile_no'].touched &&
                          formbranchadd.controls['t2_mobile_no'].invalid
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['t2_mobile_no'].errors?.['required']"
                          >Branch mobile is required.</small
                        >
                        <small
                          *ngIf="!formbranchadd.controls['t2_mobile_no'].errors?.['required'] && formbranchadd.controls['t2_mobile_no'].errors?.['invalidPhone']"
                        >
                          Invalid mobile number</small
                        >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="inputBranchPhone" class="form-label"
                        >Phone</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputBranchPhone"
                        placeholder="Enter Branch Phone no."
                        formControlName="t2_phone_no"
                      />
                      <div
                        *ngIf="formbranchadd.controls['t2_phone_no'].value"
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['t2_phone_no'].errors?.['invalidPhone']"
                        >
                          Invalid phone number</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="inputBranchAddress1" class="form-label"
                        >Address1 <span class="text-danger">*</span></label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="inputBranchAddress1"
                        placeholder="Enter Branch Address1"
                        formControlName="t2_address_1"
                      />
                      <div
                        *ngIf="
                          formbranchadd.controls['t2_address_1']?.touched &&
                          formbranchadd.controls['t2_address_1'].invalid
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['t2_address_1'].errors?.['required']"
                          >Address is required.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="inputBranchAddress2" class="form-label"
                        >Address2</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="inputBranchAddress2"
                        placeholder="Enter Branch Address2"
                        formControlName="t2_address_2"
                      />
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="selectBranchCountry" class="form-label"
                        >Country <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select"
                        id="selectBranchCountry"
                        (change)="onChangeCountries($event)"
                        formControlName="id_t2_1_country"
                      >
                        <option value="" disabled selected>
                          Select Branch country
                        </option>
                        <option
                          *ngFor="let country of countries"
                          value="{{ country.id_t2_1_country }}"
                        >
                          {{ country.t2_1_country_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="
                          formbranchadd.controls['id_t2_1_country'].touched
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['id_t2_1_country'].errors?.['required']"
                          >Country is required.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md" *ngIf="showDivision1">
                      <label for="selectBranchDiv1" class="form-label"
                        >{{ div1Label }}
                        <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select"
                        id="selectBranchDiv1"
                        (change)="onChangeDivision1($event)"
                        formControlName="id_t2_1_div1"
                      >
                        <option value="" disabled selected>
                          Select Branch {{ div1Label }}
                        </option>
                        <option
                          *ngFor="let division1 of div1"
                          value="{{ division1.id_t2_1_div1 }}"
                        >
                          {{ division1.t2_1_div1_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="formbranchadd.controls['id_t2_1_div1'].touched"
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['id_t2_1_div1'].errors?.['required']"
                          >Country is required.</small
                        >
                      </div>
                    </div>

                    <div class="col-md" *ngIf="showDivision2">
                      <label for="selectBranchDiv2" class="form-label"
                        >{{ div2Label }}
                        <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select"
                        id="selectBranchDiv2"
                        (change)="onChangeDivision2($event)"
                        formControlName="id_t2_1_div2"
                      >
                        <option value="" disabled selected>
                          Select {{ div2Label }}
                        </option>
                        <option
                          *ngFor="let division2 of div2"
                          value="{{ division2.id_t2_1_div2 }}"
                        >
                          {{ division2.t2_1_div2_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="formbranchadd.controls['id_t2_1_div2'].touched"
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['id_t2_1_div2'].errors?.['required']"
                          >Country is required.</small
                        >
                      </div>
                    </div>

                    <div class="col-md" *ngIf="showDivision3">
                      <label for="selectBranchDiv3" class="form-label"
                        >{{ div3Label }}
                        <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select"
                        id="selectBranchDiv3"
                        formControlName="id_t2_1_div3"
                      >
                        <option value="" disabled selected>
                          Select {{ div3Label }}
                        </option>
                        <option
                          *ngFor="let division3 of div3"
                          value="{{ division3.id_t2_1_div3 }}"
                        >
                          {{ division3.t2_1_div3_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="formbranchadd.controls['id_t2_1_div3'].touched"
                        class="text-danger"
                      >
                        <small
                          *ngIf="formbranchadd.controls['id_t2_1_div3'].errors?.['required']"
                          >Country is required.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="container mb-3">
                          <div class="row align-items-center">
                            <div class="col-md-6"  *ngIf="showDivision2">
                              <label for="selectBranchDiv2" class="form-label">{{div2Label}} <span class="text-danger">*</span></label>
                              <select class="form-select" id="selectBranchDiv2" (change)="onChangeDivision2($event)" formControlName="id_t2_1_div2">
                                <option value="" disabled selected>Select Branch Type</option>
                                <option *ngFor="let division2 of div2" value={{division2.id_t2_1_div2}} >{{ division2.t2_1_div2_name }}</option>
                              </select>
                            </div>
                            <div class="col-md-6"  *ngIf="showDivision3">
                              <label for="selectBranchDiv3" class="form-label">{{div3Label}} <span class="text-danger">*</span></label>
                              <select class="form-select" id="selectBranchDiv3" formControlName="id_t2_1_div3">
                                <option value="" disabled selected>Select Branch Type</option>
                                <option *ngFor="let division3 of div3" value={{division3.id_t2_1_div3}} >{{ division3.t2_1_div3_name }}</option>
                              </select>
                            </div>
                          </div>
                        </div> -->

                        <div class="container mb-3">
                          <div class="row align-items-center">
                            <div class="col-md-6">
                              <label for="inputBranchLocal" class="form-label">Locality <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="inputBranchLocal" placeholder="Enter Branch Locality" formControlName="t2_1_local_name"/>
                              <div *ngIf="formbranchadd.controls['t2_1_local_name'].touched" class="text-danger">
                                <small *ngIf="formbranchadd.controls['t2_1_local_name'].errors?.['required']">Branch locality is required.</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="inputBranchZipcode" class="form-label">Zipcode <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="inputBranchZipcode" placeholder="Enter Branch Zipcode" formControlName="t2_zip_code"/>
                              <div *ngIf="formbranchadd.controls['t2_zip_code'].touched" class="text-danger">
                                <small *ngIf="formbranchadd.controls['t2_zip_code'].errors?.['required']">Zipcode is required.</small>
                              </div>
                            </div>
                          </div>
                        </div>

                        

                        



                        
                      </div>
                      <div class="text-end">
                        <button type="button" (click)="previoustocompany()" class="primary-btn">Previous</button>
                      </div>
                      <div class="text-end">
                        <button type="button" (click)="nexttouser()" class="primary-btn">Next</button>
                      </div>
                      </form>
                    </div>
                    <div id="test-l-3" class="content">
                      <form  [formGroup]="formuseradd" class="row g-3" >

                      <div class="form-group">
                        <div class="container mb-3">
                          <div class="row align-items-center">
                            <div class="col-md-6">
                              <label for="inputUserFirstName" class="form-label">First Name <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="inputUserFirstName" placeholder="Enter First Name" formControlName="t5_first_name"/>
                              <div *ngIf="formuseradd.controls['t5_first_name']?.touched && formuseradd.controls['t5_first_name'].invalid" class="text-danger">
                                <small *ngIf="formuseradd.controls['t5_first_name'].errors?.['required']">First name is required.</small>
                                <small *ngIf="!formuseradd.controls['t5_first_name'].errors?.['required'] && formuseradd.controls['t5_first_name'].errors?.['invalidName']">Invalid name format.</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="inputUserLastName" class="form-label">Last Name </label>
                              <input type="text" class="form-control" id="inputUserLastName" placeholder="Enter Last Name" formControlName="t5_last_name"/>
                              <div *ngIf="formuseradd.controls['t5_last_name'].value" class="text-danger">
                                
                                <small *ngIf="formuseradd.controls['t5_last_name'].errors?.['invalidName']"> Invalid name format</small>
                              </div>
                            </div>
                          </div>
                        </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <label for="inputUserYearofBirth" class="form-label"
                        >Year of Birth <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select"
                        id="inputUserYearofBirth"
                        placeholder="Enter year of birth"
                        formControlName="t5_birth_year"
                      >
                        <option value="" disabled selected>Select year</option>
                        <option *ngFor="let year of years" [value]="year">
                          {{ year }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="selectUserGender" class="form-label"
                        >Gender
                      </label>
                      <select
                        class="form-select"
                        id="selectUserGender"
                        formControlName="t5_sex"
                      >
                        <option value="" disabled selected>
                          Select Gender
                        </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <label for="inputUserEmail" class="form-label"
                        >Email <span class="text-danger">*</span></label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="inputUserEmail"
                        placeholder="Enter Email"
                        formControlName="t5_email"
                      />
                      <div
                        *ngIf="
                          formuseradd.controls['t5_email']?.touched &&
                          formuseradd.controls['t5_email'].invalid
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="formuseradd.controls['t5_email'].errors?.['required']"
                          >Email is required.</small
                        >
                        <small
                          *ngIf="!formuseradd.controls['t5_email'].errors?.['required'] && formuseradd.controls['t5_email'].errors?.['invalidEmail']"
                          >Invalid email format.</small
                        >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="inputUserMobile" class="form-label"
                        >Mobile no. <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputUserMobile"
                        placeholder="Enter Mobile no."
                        formControlName="t5_mobile_no"
                      />
                      <div
                        *ngIf="
                          formuseradd.controls['t5_mobile_no'].touched &&
                          formuseradd.controls['t5_mobile_no'].invalid
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="formuseradd.controls['t5_mobile_no'].errors?.['required']"
                          >User mobile is required.</small
                        >
                        <small
                          *ngIf="!formuseradd.controls['t5_mobile_no'].errors?.['required'] && formuseradd.controls['t5_mobile_no'].errors?.['invalidPhone']"
                        >
                          Invalid mobile number</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="inputUserAddress1" class="form-label"
                        >Address1
                      </label>
                      <input
                        type="email"
                        class="form-control"
                        id="inputUserAddress1"
                        placeholder="Enter Address1"
                        formControlName="t5_address_1"
                      />
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="inputUserAddress2" class="form-label"
                        >Address2</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="inputUserAddress2"
                        placeholder="Enter Address2"
                        formControlName="t5_address_2"
                      />
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <label for="selectUserCountry" class="form-label"
                        >Country</label
                      >
                      <select
                        class="form-select"
                        id="selectUserCountry"
                        (change)="onChangeUserCountry($event)"
                        formControlName="id_t2_1_country"
                      >
                        <option value="" disabled selected>
                          Select Country
                        </option>
                        <option
                          *ngFor="let country of countries"
                          value="{{ country.id_t2_1_country }}"
                        >
                          {{ country.t2_1_country_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="formuseradd.controls['id_t2_1_country'].touched"
                        class="text-danger"
                      >
                        <small
                          *ngIf="formuseradd.controls['id_t2_1_country'].errors?.['required']"
                          >Country is required.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md" *ngIf="showDivision1User">
                      <label for="selectUserDiv1" class="form-label"
                        >{{ div1LabelUser }}
                        <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select"
                        id="selectUserDiv1"
                        (change)="onChangeUserDivision1($event)"
                        formControlName="id_t2_1_div1"
                      >
                        <option value="" disabled selected>
                          Select {{ div1LabelUser }}
                        </option>
                        <option
                          *ngFor="let userDivision1 of userDiv1"
                          value="{{ userDivision1.id_t2_1_div1 }}"
                        >
                          {{ userDivision1.t2_1_div1_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="formuseradd.controls['id_t2_1_div1'].touched"
                        class="text-danger"
                      >
                        <small
                          *ngIf="formuseradd.controls['id_t2_1_div1'].errors?.['required']"
                          >{{ div1LabelUser }} is required.</small
                        >
                      </div>
                    </div>
                    <div class="col-md" *ngIf="showDivision2User">
                      <label for="selectUserDiv2" class="form-label"
                        >{{ div2LabelUser }}
                        <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select"
                        id="selectUserDiv2"
                        (change)="onChangeUserDivision2($event)"
                        formControlName="id_t2_1_div2"
                      >
                        <option value="" disabled selected>
                          Select {{ div2LabelUser }}
                        </option>
                        <option
                          *ngFor="let userDivision2 of userDiv2"
                          value="{{ userDivision2.id_t2_1_div2 }}"
                        >
                          {{ userDivision2.t2_1_div2_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="formuseradd.controls['id_t2_1_div2'].touched"
                        class="text-danger"
                      >
                        <small
                          *ngIf="formuseradd.controls['id_t2_1_div2'].errors?.['required']"
                          >{{ div2LabelUser }} is required.</small
                        >
                      </div>
                    </div>
                    <div class="col-md" *ngIf="showDivision3User">
                      <label for="selectUserDiv3" class="form-label"
                        >{{ div3LabelUser
                        }}<span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select"
                        id="selectUserDiv3"
                        formControlName="id_t2_1_div3"
                      >
                        <option value="" disabled selected>
                          Select {{ div3LabelUser }}
                        </option>
                        <option
                          *ngFor="let userDivision3 of userDiv3"
                          value="{{ userDivision3.id_t2_1_div3 }}"
                        >
                          {{ userDivision3.t2_1_div3_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="formuseradd.controls['id_t2_1_div3'].touched"
                        class="text-danger"
                      >
                        <small
                          *ngIf="formuseradd.controls['id_t2_1_div3'].errors?.['required']"
                          >{{ div3LabelUser }} is required.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <label for="inputUserLocal" class="form-label"
                        >Locality</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputUserLocal"
                        placeholder="Enter Locality"
                        formControlName="t2_1_local_name"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="inputUserZipcode" class="form-label"
                        >Zipcode</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputUserZipcode"
                        placeholder="Enter Zipcode"
                        formControlName="t5_zip_code"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-end">
                <button
                  type="button"
                  (click)="previoustobranch()"
                  class="primary-btn"
                >
                  Previous
                </button>
              </div>

                      <div class="text-end">
                        <button type="submit" class="primary-btn mt-5" (click)="onSubmit()"
                        >Submit</button>
                      </div>
                      </form>
                    </div>
                </div>
              </div>
            </div>
                                                                                        
          
            <!-- working <form class="row g-3">
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" formControlName="email"> -->

                <!-- <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="text-danger">
                  <small *ngIf="form.controls['email'].errors?.['required']">Email is required.</small>
                  <small *ngIf="form.controls['email'].errors?.['invalidEmail']">Invalid email format.</small>
                </div> -->
            <!--   working                  
              </div>
            
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" formControlName="password"> -->
                <!-- <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="text-danger">
                  <small *ngIf="form.controls['password'].errors?.['required']">Password is required.</small>
                  <small *ngIf="form.controls['password'].errors?.['invalidPassword']">
                    Password must contain uppercase, lowercase, number, and at least 6 characters.
                  </small>
                </div> -->

              <!-- working </div>
            
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" formControlName="address"> -->
                <!-- <div *ngIf="form.controls['address'].touched && form.controls['address'].invalid" class="text-danger">
                  <small>Address is required.</small>
                </div> -->
              <!-- working </div>
            
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" formControlName="address2">
              </div>
            
              <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity" formControlName="city"> -->

                <!-- <div *ngIf="form.controls['city'].touched && form.controls['city'].invalid" class="text-danger">
                  <small>City is required.</small>
                </div> -->

              <!-- working</div>
            
              <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select" formControlName="state">
                  <option selected disabled>Choose...</option>
                  <option value="state1">State 1</option>
                  <option value="state2">State 2</option>
                </select> -->

                <!-- <div *ngIf="form.controls['state'].touched && form.controls['state'].invalid" class="text-danger">
                  <small>State is required.</small>
                </div> -->
              <!-- working </div>
            
              <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip" formControlName="zip"> -->

                <!-- <div *ngIf="form.controls['zip'].touched && form.controls['zip'].invalid" class="text-danger">
                  <small *ngIf="form.controls['zip'].errors?.['required']">Zip is required.</small>
                  <small *ngIf="form.controls['zip'].errors?.['pattern']">Invalid zip format.</small>
                </div> -->
              <!-- working</div>
            
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="check">
                  <label class="form-check-label" for="gridCheck">Check me out</label> -->

                  <!-- <div *ngIf="form.controls['check'].touched && form.controls['check'].invalid" class="text-danger">
                    <small>You must agree to continue.</small>
                  </div> -->
                <!-- working</div>
              </div>
            
              <div class="col-12 d-flex justify-content-end">
                <button (click)="onSave()" type="submit" class="primary-btn">Add Company</button>
              </div>
            </form> -->
            <!-- ------------- -->

    </div>
  </div>
</div>
