<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-light">
    <i class="fas fa-bars" style="color: black;"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <img src="assets/images/logo.png" width="35"><a href="#">oice First</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>

      <!-- sidebar-header  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li>
            <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="components/role" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa fa-tachometer-alt"></i>
              <span>Role</span>
            </a>
          </li>
          <li>
            <a routerLink="components/country" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa fa-tachometer-alt"></i>
              <span>Country</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Constant</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="components/selection-values" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Selection Values</a>
                </li>

              </ul>
            </div>
          </li>
          <li>
            <a routerLink="components/branch" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa fa-tachometer-alt"></i>
              <span>Branch</span>
            </a>
          </li>
          <li>
            <a routerLink="components/company" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa fa-tachometer-alt"></i>
              <span>Company</span>
            </a>
          </li>

          <li>
            <a routerLink="components/test" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa fa-tachometer-alt"></i>
              <span>Test</span>
            </a>
          </li>

          <!-- <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Components</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="components/index" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Index</a>
                </li>
                <li>
                  <a href="#">Tables</a>
                </li>
                <li>
                  <a href="#">Icons</a>
                </li>
                <li>
                  <a routerLink="components/test" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Forms</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-chart-line"></i>
              <span>Charts</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Pie chart</a>
                </li>
                <li>
                  <a href="#">Line chart</a>
                </li>
                <li>
                  <a href="#">Bar chart</a>
                </li>
                <li>
                  <a href="#">Histogram</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Google maps</a>
                </li>
                <li>
                  <a href="#">Open street map</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li> -->
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a routerLink="components/profile">
        <i class="fa fa-user"></i>
        <span class="badge-sonar"></span>
      </a>
      <a (click)="logout()">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <!-- <header class="header"></header> -->
  <main class="page-content">


    <div class="container-fluid">
      <!--  -->
      <div>
        <router-outlet />
      </div>
      <!--  -->
      <hr>

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2024 <a target="_blank" rel="noopener noreferrer" href="https://notetech.com">notetech.com</a>
          </small>
        </div>

      </footer>
      </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->