<!-- Sidebar -->
<div class="l-navbar" [ngClass]="{ 'collapsed': !isSidebarExpanded }">
  <nav class="nav">
    <div>
      <!-- Brand + Toggle -->
      <div class="nav-brand">
        <a  routerLink="/company" class="nav-logo">
          <span *ngIf="isSidebarExpanded">VOICE FIRST</span>
        </a>
        <i class="fas fa-bars nav-toggle" (click)="toggleSidebar()"></i>
      </div>

      <!-- Navigation Links -->
      <div class="nav-list">
        @if(role=="Company" || role=="Notetech"){
        <a class="nav-link" routerLink="/company" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-tachometer-alt"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">Dashboard</span>
        </a>
        }
        @if(role=="Notetech"){
        <a class="nav-link" routerLink="company" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-building"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">Company</span>
        </a>
        }
        @if(role=="Company"){
          <a class="nav-link" routerLink="company-role" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-users-gear"></i>
            <span *ngIf="isSidebarExpanded" class="nav-name">Role</span>
          </a>
        }
        @if(role=="Notetech"){
        <a class="nav-link" routerLink="country" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-earth-americas"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">Country</span>
        </a>
        }
        @if(role=="Notetech"){
        <a class="nav-link" routerLink="selection-values" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-square-check"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">Selection Value</span>
        </a>
        }
        @if(role=="Company"){
        <a class="nav-link" routerLink="branch" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-code-branch"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">Branch</span>
        </a>
        }
        @if(role=="Company"){
          <a class="nav-link" routerLink="section" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-code-branch"></i>
            <span *ngIf="isSidebarExpanded" class="nav-name">Section</span>
          </a>
          }
        @if(role=="Company"){
        <a class="nav-link" routerLink="employee" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-users"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">Employees</span>
        </a>
        }
        @if(role=="Notetech"){
        <a class="nav-link" routerLink="system-role" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-users-gear"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">System Roles</span>
        </a>
        }
        @if(role=="Notetech"){
          <a class="nav-link" routerLink="buisness-activity" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-fax"></i>
            <span *ngIf="isSidebarExpanded" class="nav-name">System Buisness Activity</span>
          </a>
          }
      @if(role=="Notetech"){
          <a class="nav-link" routerLink="sys-issuetype" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-users-gear"></i>
            <span *ngIf="isSidebarExpanded" class="nav-name">Issue Type</span>
          </a>
          }

          @if(role=="Notetech"){
            <a class="nav-link" routerLink="sys-answertype" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa-solid fa-users-gear"></i>
              <span *ngIf="isSidebarExpanded" class="nav-name">Answer Type</span>
            </a>
            }
          @if(role=="Company"){
            <a class="nav-link" routerLink="company-buisness-activity" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa-solid fa-fax"></i>
              <span *ngIf="isSidebarExpanded" class="nav-name">Buisness Activity</span>
            </a>
            }

            <!-- <a class="nav-link" routerLink="role" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fa-solid fa-fax"></i>
              <span *ngIf="isSidebarExpanded" class="nav-name">Role</span>
            </a> -->
        <!-- @if(role=="Notetech"){
          <a class="nav-link" routerLink="system-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-list-check"></i>
            <span *ngIf="isSidebarExpanded" class="nav-name">System Types</span>
          </a>
          }
          @if(role=="Company"){
            <a class="nav-link" routerLink="branch-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class='bx bx-category'></i>
              <span *ngIf="isSidebarExpanded" class="nav-name">Branch Types</span>
            </a>
          }
          @if(role=="Company"){
            <a class="nav-link" routerLink="section-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class='bx bx-intersect'></i>
              <span *ngIf="isSidebarExpanded" class="nav-name">Section Types</span>
            </a>
          } -->
        <!-- Projects Submenu -->
        <!-- <div class="nav-link collapse">
          <div (click)="toggleSubMenu('projects')">
            <i class="fas fa-project-diagram"></i>
            <span *ngIf="isSidebarExpanded" class="nav-name">Projects</span>
            <i *ngIf="isSidebarExpanded" class="fas fa-chevron-down" [ngClass]="{ 'rotate': activeSubMenu === 'projects' }"></i>
          </div>
          <ul class="collapse-menu" [ngClass]="{ 'showCollapse': activeSubMenu === 'projects' }">
            <a href="#" class="collapse-sublink">Data</a>
            <a href="#" class="collapse-sublink">Group</a>
            <a href="#" class="collapse-sublink">Members</a>
          </ul>
        </div> -->

        <!-- Team Submenu -->
        <!-- <div class="nav-link collapse">
          <div (click)="toggleSubMenu('team')">
            <i class="fas fa-users"></i>
            <span *ngIf="isSidebarExpanded" class="nav-name">Team</span>
            <i *ngIf="isSidebarExpanded" class="fas fa-chevron-down" [ngClass]="{ 'rotate': activeSubMenu === 'team' }"></i>
          </div>
          <ul class="collapse-menu" [ngClass]="{ 'showCollapse': activeSubMenu === 'team' }">
            <a href="#" class="collapse-sublink">Data</a>
            <a href="#" class="collapse-sublink">Group</a>
            <a href="#" class="collapse-sublink">Members</a>
          </ul>
        </div> -->

        <!-- <a href="#" class="nav-link" [ngClass]="{ 'active': activeLink === 'analytics' }" (click)="setActiveLink('analytics')">
          <i class="fas fa-chart-line"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">Analytics</span>
        </a>

        <a href="#" class="nav-link" [ngClass]="{ 'active': activeLink === 'settings' }" (click)="setActiveLink('settings')">
          <i class="fas fa-cogs"></i>
          <span *ngIf="isSidebarExpanded" class="nav-name">Settings</span>
        </a> -->

      </div>
    </div>
  </nav>
</div>

<!-- header -->

<div class="header">
  <div class="header-icons">
    <div class="icon-container" title="Profile">
      <i class="fa-regular fa-user" routerLink="profile"></i>
    </div>
    <div class="icon-container" title="Logout">
      <i class="fa-solid fa-arrow-right-from-bracket" (click)="logout()"></i>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="main-content" [ngClass]="{ 'body-pd': !isSidebarExpanded }">

  <router-outlet/>
</div>
