/* Reset */
*, ::before, ::after {
  box-sizing: border-box;
}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, p {
  margin: 0 0 1rem;
}

/* Sidebar Styles */
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #12192C;
  color: #FFFFFF;
  padding: 1.5rem 1rem;
  transition: 0.3s;
  z-index: 100;
}

.l-navbar.collapsed {
  width: 80px;
}

/* Main Content (Reversed Behavior for Padding) */
.main-content {
  margin-left: 250px;
  padding: 2rem;
  transition: 0.3s;
}

.main-content.body-pd {
  margin-left: 80px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-toggle {
  font-size: 1.5rem;
  padding: 0.75rem;
  cursor: pointer;
  color: #FFFFFF;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #FFFFFF;
  font-weight: 600;
  font-family: 'Turret Road', sans-serif;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  color: #FFFFFF;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.nav-link i {
  font-size: 1.25rem;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: #12192C;
}

.nav-name {
  font-size: 0.875rem;
}

.active {
  background-color: var(--primary-color);
  color: #12192C;
}

.collapse {
  display: flex;
  flex-direction: column;

}

.collapse > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-menu {
  display: none;
  flex-direction: column;
  padding: 0.75rem 2.25rem;
}

.collapse-menu.showCollapse {
  display: flex;
}

.collapse-sublink {
  color: #B6CEFC;
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.collapse-sublink:hover {
  color: #FFFFFF;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.3s;
}
