
<div class="d-flex justify-content-center align-items-center auth-container" 
style="background: url(assets/images/loginbg.jpg);height: 100vh;
background-size: cover;
background-attachment: fixed;">

    <div class="reset-wrap">
        <div class="reset-html">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h3 class="tab mt-1">Forgot Password?</h3>
                </div>
                <form class="reset-form mt-3" [formGroup]="forgotForm">
                    <div class="group mb-4">
                        <label for="user" class="label">Enter your email or phone</label>
                        <input type="text" class="input" formControlName="username">
                    </div>


                    <div class="group">
                        <button type="button" class="button" [disabled]="loading" (click)="onSubmit()">
                          <span *ngIf="!loading">Submit</span>
                          <div class="spinner-border" role="status" *ngIf="loading">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </button>
                    </div>
                </form> 
                <div class="d-flex justify-content-center">
                    <a type="button" class="primary-btn" style="color: aliceblue;" routerLink="/authentication/login">Back to Login</a>
                </div>   
        </div>
    </div>
</div>


