
<div class="d-flex justify-content-center align-items-center auth-container" 
style="background: url(assets/images/loginbg.jpg);
background-size: cover;
background-attachment: fixed;">

    <div class="reset-wrap">
        <div class="reset-html">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h3 class="tab mt-1">Forgot Password?</h3>
                </div>
                <form class="form" [formGroup]="forgotForm">

                    <div class="input-container">
                        <label>Enter email or phone</label>
                        <input type="text" placeholder="Enter your email or phone" formControlName="username">
                      </div>


                    <div class="group">
                        <button type="button" class="button" [disabled]="loading" (click)="onSubmit()">
                          <span *ngIf="!loading">Submit</span>
                          <div class="spinner-border" role="status" *ngIf="loading">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </button>
                    </div>

                    <!-- <p class="p">Back to <span class="span" routerLink="/authentication/login">Sign In</span></p> -->
                </form> 
                
 
        </div>
    </div>
</div>


