.card{
    padding:20px;
    border-radius: 6px;
}
i{
  cursor:pointer;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    
  }
  
  .pagination button {
    padding: 0px 2px 0px 3px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .pagination button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: .8rem;
  }



  /*  */

  .filter-section{
    margin-bottom:10px;
  }

  .filter-section input,
  .filter-section select {
    margin-bottom: 10px;
  }

  /*  */

  .filter-btn{
    padding: 4px;
    height: 30px;
    border-radius: 4px 10px 4px 4px;
    border: none;
    color: #ece8e8;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
  }

  .filter-btn:active {
    transform: scale(0.95); /* Slightly shrink the button */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px; /* Reduced shadow effect */
  }

  .filter-buttons .import{
    margin-right: 7px;
    background-color: rgb(52, 152, 219);
  }

  .filter-buttons .export{
    margin-right: 7px;
    background-color: rgb(243, 156, 18);
  }

  .filter-buttons .create{
    background-color: rgb(46, 204, 113);
  }

  /*-------------------------  */
  
  
  .table thead,tbody{
    font-size: .8rem;
  }


  /* ------------------------- */


  .badge-success{
    color: #22c921;
    background-color: #9bd7a959;
    padding: 5px;
 }

 .badge-danger{
    color: #c92121;
    background-color: #d79b9b69;
    padding: 5px;
 }