.card{
    padding:20px;
    border-radius: 6px;
}
i{
  cursor:pointer;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    
  }
  
  .pagination button {
    padding: 0px 2px 0px 3px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .pagination button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: .8rem;
  }



  /*  */

  .filter-section{
    margin-bottom:10px;
  }

  .filter-section input,
  .filter-section select {
    margin-bottom: 10px;
  }



  /*  */
  .table thead,tbody{
    font-size: .8rem;
  }
