.card{
    padding:20px;
    border-radius: 6px;
}
i{
  cursor:pointer;
}

.actions i{
  font-size: 13px;
  color: #fff;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    
  }
  
  .pagination button {
    padding: 0px 2px 0px 3px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .pagination button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: .8rem;
  }



  /*  */

  .filter-section{
    margin-bottom:10px;
  }

  .filter-section input,
  .filter-section select {
    margin-bottom: 10px;
  }



  /*------------Table-------------  */
  

  table{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .table thead,tbody{
    font-size: .8rem;
  }



  /* ------------------------- */


  .badge-success{
    color: #22c921;
    background-color: #9bd7a959;
    padding: 5px;
 }

 .badge-danger{
    color: #c92121;
    background-color: #d79b9b69;
    padding: 5px;
 }


 /* --------- border --------= */

 .border-red {
  border: 2px solid red !important;
}

.border-green {
  border: 2px solid green !important;
}

/* ---------- Spinner --------- */

.spinner-border {
  --bs-spinner-width: 1.2rem;
  --bs-spinner-height: 1.2rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-border-width: 0.22em;
  --bs-spinner-animation-speed: 0.80s;
  --bs-spinner-animation-name: spinner-border;
  border: var(--bs-spinner-border-width) solid currentcolor;
  border-right-color: transparent;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 45px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#6e6d6e) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:l4 1s infinite steps(10);
}
@keyframes l4 {to{transform: rotate(1turn)}}
 

/* alert */

.alert {
    padding: 15px;
    color: #663300;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: .7rem;
  }

.alert-warning{
  background-color: #ffd83d80;
  border: 2px solid #ffd83dfc;
  
}

.alert-error{
  background-color: #ff3d3d52;
  border: 2px solid #ff7c7cfc;
  color: #a32121;
}