<div class="card">
  
    <h3 class="mb-4">Table</h3>
    <div class="filter-section">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                [(ngModel)]="searchTerm"
                (input)="applyFilters()"
              />
            </div>
            <div class="col-md-4">
              <input
                type="date"
                class="form-control"
                [(ngModel)]="filterDate"
                (change)="applyFilters()"
                placeholder="Filter by Date"
              />
            </div>
            <div class="col-md-4">
              <select class="form-select" [(ngModel)]="filterStatus" (change)="applyFilters()">
                <option value="">All Status</option>
                <option value="DELIVERED">Delivered</option>
                <option value="CANCELLED">Cancelled</option>
                <option value="PENDING">Pending</option>
                <option value="RETURNS">Returns</option>
                <option value="PICKUPS">Pickups</option>
              </select>
            </div>
          </div>
        </div>
  
        <div class="filter-buttons col-md-6 d-flex justify-content-end">
          <button class="filter-btn import" data-toggle="tooltip" data-placement="top" title="Import"><i class='bx bx-import'></i></button>
          <button class="filter-btn export" data-toggle="tooltip" data-placement="top" title="Export"><i class='bx bx-export'></i></button>
          <button class="filter-btn create" data-toggle="tooltip" data-placement="top" title="Create" (click)="openAddCountry()" ><i class='bx bx-plus'></i></button>
        </div>
  
      </div>
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Country</th>
            <th>Division 1</th>
            <th>Division 2</th>   
            <th>Division 3</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations">
                <td>{{ location.t2_1_country_name }}</td>
                <td class="div-cell">  
                  <div>{{ location.t2_1_div1_called }}</div>
                  <div>
                    <button class="filter-btn view-icon-btn" data-toggle="tooltip" data-placement="top" title="View" (click)="divOnePopup(location.id_t2_1_country)">
                      <i class="ti ti-eye bx"></i>
                    </button>
                  </div>
                </td>
                <td (click)="divTWoPopup(location.id_t2_1_country)" >{{ location.t2_1_div2_called }}   </td>
                <td (click)="divthreePopup(location.id_t2_1_country)" >{{ location.t2_1_div3_called }}</td>
                <td class="actions">
                  <!-- Edit and Delete buttons/icons -->
                  <i class='bx bxs-edit' style="width: 34px;" (click)="editLocation(location)"></i>
                  <i class='bx bxs-trash' (click)="deleteLocation(location.id_t2_1_country)"></i>
                </td>
                <!-- <td>
                    <span class="badge" [ngClass]="getStatusClass(order.deliveryStatus)">
                      {{ order.deliveryStatus }}
                    </span>
                  </td> -->
            </tr>
        </tbody>
      </table>
    
      <div class="pagination">
        
        <button (click)="previousPage()" [disabled]="currentPage === 1"><i class='bx bx-chevron-left'></i></button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages"><i class='bx bx-chevron-right'></i></button>
      </div>
    </div>
  </div>
  <!-- popup -->
  <ng-container #popupContainer></ng-container>
  
    