

<div class="d-flex justify-content-center align-items-center auth-container" 
style="background: url(assets/images/loginbg.jpg);
background-size: cover;
background-attachment: fixed;">
    <div class="reset-wrap">

            <div class="d-flex flex-column justify-content-center align-items-center">
              <h3 class="tab mt-1">Verify your OTP</h3>
              <p class="text-center">Enter 6-digit OTP sent to email or phone</p>
          </div>
          
          <form class="form mt-3" [formGroup]="otpForm" (ngSubmit)="onVerifyOtp()">
              <div class="d-flex justify-content-center gap-2">
                <input
                  type="text"
                  maxlength="1"
                  class="input-otp text-center"
                  formControlName="digit1"
                  (keydown)="moveToNext($event, 'digit2', '')"
                >
                <input
                  type="text"
                  maxlength="1"
                  class="input-otp text-center"
                  formControlName="digit2"
                  (keydown)="moveToNext($event, 'digit3', 'digit1')"
                >
                <input
                  type="text"
                  maxlength="1"
                  class="input-otp text-center"
                  formControlName="digit3"
                  (keydown)="moveToNext($event, 'digit4', 'digit2')"
                >
                <input
                  type="text"
                  maxlength="1"
                  class="input-otp text-center"
                  formControlName="digit4"
                  (keydown)="moveToNext($event, 'digit5', 'digit3')"
                >
                <input
                  type="text"
                  maxlength="1"
                  class="input-otp text-center"
                  formControlName="digit5"
                  (keydown)="moveToNext($event, 'digit6', 'digit4')"
                >
                <input
                  type="text"
                  maxlength="1"
                  class="input-otp text-center"
                  formControlName="digit6"
                  (keydown)="moveToNext($event, '', 'digit5')"
                >
              </div>
              <div class="mt-4 text-center mb-0" *ngIf="timeLeft">
                  <p class="mb-0">Enter OTP in <strong>{{ timeLeft }}</strong> seconds</p>
              </div>
              <small class="text-center text-danger mb-2" *ngIf="invalidMessage">Invalid OTP</small>

              <div class="group">
                @if(verifyButton){
                  <button type="button" class="button" [disabled]="loading" (click)="onVerifyOtp()">
                    <span *ngIf="!loading">Verify OTP</span>
                    <div class="spinner-border" role="status" *ngIf="loading">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>                      }
                @else {
                  <button type="button" class="button" [disabled]="loading" (click)="onResendOtp()">
                    <span *ngIf="!loading">Resend OTP</span>
                    <div class="spinner-border" role="status" *ngIf="loading">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                }
                  
                </div>

                <!-- <p class="p">Back to <span class="span" routerLink="/authentication/login">Sign In</span></p> -->


            </form>
            <div class="alert alert-warning mt-4" style="margin-bottom: 15px;">
              ⚠️ Please do not refresh this page. Refreshing will reset your session.
            </div>

                
                           

    </div>
</div>




